img{
    width: 100%;
}

body{
    font-family: Arial;
}

.column{
    width: 600px;
    margin: 40px auto;
    padding: 10px;
    border: double 10px green;
}
p{
    border: solid 3px gray;
    padding: 5px;
    border-radius: 8px;
}

h1{
    font-size: 60px;
    font-family: Verdana;
}

table {
    border-collapse: collapse;      
  }

  th, td {
    border: 1px solid black;
    text-align: center;   
    padding: 5px;
  }


