img{
    width: 100%;
    border: solid 3px #4F4A41;
}

body{
    font-family: Arial;
background-color: #254E58 ;
}

.column{
    width: 650px;
    margin: 0px auto;
    padding: 70px;
    border: double 20px #112D32;
    background-color: #88BDBC;
}
p{
    /* border: solid 5px #6E6658; */
    padding: 5px;
    /* border-radius: 8px; */
}

h1{
    font-size: 60px;
    font-family: Verdana;
color: #112D32;
}

table {
    border-collapse: collapse;      
  }

  th, td {
    border: 1px solid black;
    text-align: center;   
    padding: 5px;    
  }

  th {
    background-color : gray;
  }

  td {
    background-color : lightgrey;
  }


